<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<components>
		<component id="home.controller" type="MonoRailProject.Controllers.HomeController, MonoRailProject" />
    <component id="agent.controller" type="MonoRailProject.Controllers.AgentController, MonoRailProject" />
  </components>
</configuration>